@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.gbtn{
  background: linear-gradient(to right, #FFFCAB , #49FFDE );
}
.footerbg{
  background: linear-gradient(to right, #0F1B2314 , #FFFFFF13 );
}
.gtext{
  background: linear-gradient(to right, #FFFCAB , #0A161E );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bcard{
  border:2px solid transparent;
  border-radius: 20px;
  border-image: linear-gradient( #00000080 , #FFFFFF80 ),1 ;
  border-image-slice: 1;
}

.use:hover{
  background: linear-gradient(to right, #FFFCAB33 , #49FFDE33 );
  cursor: pointer;
  transition: all ease-in;

}

.border-fading {
  position: absolute;
  inset: 0;
  border: 2px dotted transparent;
  border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1;
  pointer-events: none;
}


            